/* style.css */
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Black Ops One", system-ui;
    background-color: #d80000;
    padding: 20px;
}

  
#shadow1 {
    box-shadow: 5px 10px;
  }
#feed {
    margin-top: 30px;
}